{%- extends "../../common/pwnpost-full.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set challenge.publish_method = "GET" -%}
  {%- set challenge.hide_admin_posts = True -%}
{% endblock %}

{% block welcome_message %}Welcome to pwnpost, now XSS-free (for admin, at least)!{% endblock %}