{%- set db_state = "flooded" -%}
{%- set doc_hint = "https://www.geeksforgeeks.org/sql-and-and-or-operators/" -%}
{%- set max_rows = 1 -%}
{%- set max_columns = 1 -%}
{%- set flag_tag = True -%}
{%- set tag_value_noflag = 1 -%}
{%- set tag_value_flag = 1337 -%}
{%- set decoy_flags = True -%}

{%- include "../../common/sql.j2" -%}
