{%- set pwn_d8_flags = [
    '--fuzzing',
    '--omit-quit',
    '--sandbox-testing',
    '--experimental-wasm-wasmfx',
    '--nowasm-loop-unrolling',
    '--nowasm-loop-peeling',
    '--no-liftoff',
    '--no-wasm-lazy-compilation',
    '--wasm-tiering-budget=1',
    '--wasm-wrapper-tiering-budget=1',
    '--wasm-sync-tier-up',
    '--no-concurrent-recompilation',
] -%}
{% include "../../../common/learning-run" %}
