{%- extends "base_templates/victim-selenium.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set settings.specify_url = False -%}
  {%- set settings.endpoint_challenge = "" -%}
  {%- set settings.form_fields = {"username": '"admin"', "password": 'open("/flag").read().strip()'} -%}
  {%- set settings.reward_alert = False -%}
{% endblock %}