{%- extends "base_templates/pwnpost-full.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set settings.publish_method = "POST" -%}
  {%- set settings.disable_admin_posting = True -%}
  {%- set settings.insecure_cookie = True -%}
  {%- set settings.admin_pw_code = "flag[-20:]" -%}
  {%- set settings.has_ephemeral = True -%}
  {%- set settings.hide_admin_posts = True -%}
{% endblock %}

{% block welcome_message %}Welcome to pwnpost, now with users!{% endblock %}