{%- set db_state = "flooded" -%}
{%- set doc_hint = "https://www.sqlite.org/lang_expr.html" -%}
{%- set max_rows = 1 -%}
{%- set max_columns = 1 -%}
{%- set flag_tag = True -%}
{%- set tag_value_noflag = 1 -%}
{%- set tag_value_flag = 1337 -%}
{%- set random_flag_tag = True -%}

{%- include "../../common/sql.j2" -%}
