{%- extends "../../common/pwnpost-full.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set challenge.publish_method = "POST" -%}
  {%- set challenge.disable_admin_posting = True -%}
  {%- set challenge.insecure_cookie = False -%}
  {%- set challenge.admin_pw_code = "flag[-20:]" -%}
  {%- set challenge.has_ephemeral = True -%}
  {%- set challenge.hide_admin_posts = True -%}
  {%- set challenge.show_your_posts = True -%}
{% endblock %}

{% block welcome_message %}Welcome to pwnpost, now with users!{% endblock %}