{%- extends "../../common/sql.py.j2" -%}

{%- block setup -%}
  {{- super() -}}
  {%- set challenge.db_state = "randomized" -%}
  {%- set challenge.doc_hint = "https://www.sqlite.org/schematab.html" -%}
  {%- set challenge.max_columns = 1 -%}
  {%- set challenge.num_queries = 2 -%}
{%- endblock -%}