{%- extends "base_templates/flask.py.j2" -%}

{% block setup %}
  {%- from 'base_templates/names.j2' import select_random_names -%}
  {%- set settings.names = select_random_names(challenge.random) -%}
{% endblock %}

{% block handlers %}

{{ settings.names.endpoint_static_files }}

@app.route("/{{settings.names.endpoint_static_files}}", methods=["GET"])
@app.route("/{{settings.names.endpoint_static_files}}/<path:path>", methods=["GET"])
def challenge(path="index.html"):
    requested_path = app.root_path + "/files/" + path{% block filter %}{% endblock %}

    {% if challenge.walkthrough %}print(f"DEBUG: {requested_path=}"){% endif %}

    try:
        return open(requested_path).read()
    except PermissionError:
        flask.abort(403, requested_path)
    except FileNotFoundError:
        flask.abort(404, f"No {requested_path} from directory {os.getcwd()}")
    except Exception as e:
        flask.abort(500, requested_path + ":" + str(e))

{% endblock %}
