{%- extends "base_templates/flask.py.j2" -%}

{% block imports %}
{% if settings.table_identifier == "random_user_table" %}
import random
{% endif %}
import sqlite3
import tempfile
{% endblock %}

{% block handlers %}
# Don't panic about this class. It simply implements a temporary database in which
# this application can store data. You don't need to understand its internals, just
# that it processes SQL queries using db.execute().
{% include 'base_templates/temporarydb.py.j2' %}

{% if settings.table_identifier == "random_user_table" %}
random_user_table = f"users_{{challenge.random.randrange(2**32, 2**33)}}"
table_name = random_user_table
{% else %}
table_name = "{{settings.table_identifier}}"
{% endif %}

db.execute(f"""CREATE TABLE {table_name} AS SELECT "admin" AS username, ? as password""", [open("/flag").read()])
# https://www.sqlite.org/lang_insert.html
db.execute(f"""INSERT INTO {table_name} SELECT "guest" as username, "password" as password""")

@app.route("/", methods=["GET"])
def challenge():
    query = flask.request.args.get("query", "%")

    try:
        {% if settings.table_identifier == "random_user_table" %}# https://www.sqlite.org/schematab.html
        {% endif %}# https://www.sqlite.org/lang_select.html
        sql = f'SELECT username FROM {table_name} WHERE username LIKE "{query}"'
        print(f"DEBUG: {query=}")
        results = "\n".join(user["username"] for user in db.execute(sql).fetchall())
    except sqlite3.Error as e:
        results = f"SQL error: {e}"

    {% if settings.table_identifier == "random_user_table" %}
    sql_display = sql.replace(random_user_table, "REDACTED")
    {% else %}
    sql_display = sql
    {% endif %}

    return f"""
        <html><body>Welcome to the user query service!
        <form>Query:<input type=text name=query value='{query}'><input type=submit value=Submit></form>
        <hr>
        <b>Query:</b> <pre>{sql_display}</pre><br>
        <b>Results:</b><pre>{results}</pre>
        </body></html>
        """

{% endblock %}
