{%- extends "common/flask.py.j2" -%}

{% block setup %}
  {%- from 'common/random_names.j2' import generate_names -%}
  {{- generate_names(challenge, random) -}}
  {%- set challenge.flask_host = "challenge.localhost" -%}
  {%- set challenge.reset_uid = True -%}
  {%- set challenge.reset_path = True -%}
  {%- set challenge.input_parameter = challenge.parameter_directory -%}
  {%- set challenge.default_parameter_value = "/challenge" -%}
{% endblock %}

{% block imports %}
import subprocess
{% endblock %}

{% block handlers %}

@app.route("/{{challenge.endpoint_challenge}}", methods=["GET"])
def challenge_handler():
    arg = flask.request.args.get("{{challenge.input_parameter}}", "{{challenge.default_parameter_value}}"){% block filter %}{% endblock %}

    command = {% block command %}f"ls -l {% block quote %}{% endblock %}{arg}{% block quote2 %}{% endblock %}"{% endblock %}

    print(f"DEBUG: {command=}")
    result = subprocess.run(
        command,  # the command to run
        shell=True,  # use the shell to run this command
        stdout=subprocess.PIPE,  # capture the standard output
        stderr=subprocess.STDOUT,  # 2>&1
        encoding="latin",  # capture the resulting output as text
    ).stdout

    return f"""
        <html><body>
        {% block service_description %}Welcome to the dirlister service! Please choose a directory to list the files of:{% endblock %}
        <form action="/{{challenge.endpoint_challenge}}"><input type=text name={{challenge.input_parameter}}><input type=submit value=Submit></form>
        <hr>
        {% if challenge.hide_output %}
        <b>Ran {command}!</b><br>
        {% else %}
        <b>Output of {command}:</b><br>
        <pre>{result}</pre>
        {% endif %}
        </body></html>
        """

{% endblock %}
