{%- extends "../../common/flask.py.j2" -%}

{% block setup %}
  {%- from '../../common/random_names.j2' import generate_names -%}
  {{- generate_names(challenge, random) -}}
  {%- set challenge.flask_host = "challenge.localhost" -%}
{% endblock %}

{% block handlers %}

@app.route("/{{challenge.endpoint_static_files}}", methods=["GET"])
@app.route("/{{challenge.endpoint_static_files}}/<path:path>", methods=["GET"])
def challenge(path="index.html"):
    requested_path = app.root_path + "/files/" + path{% block filter %}{% endblock %}
    print(f"DEBUG: {requested_path=}")

    try:
        return open(requested_path).read()
    except PermissionError:
        flask.abort(403, requested_path)
    except FileNotFoundError:
        flask.abort(404, f"No {requested_path} from directory {os.getcwd()}")
    except Exception as e:
        flask.abort(500, requested_path + ":" + str(e))

{% endblock %}
