{%- extends "common/flask.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- from 'common/random_names.j2' import generate_names -%}
  {{- generate_names(challenge, random) -}}
  {%- set challenge.flask_host = "challenge.localhost" -%}
  {%- set challenge.service_name = "pwnpost" -%}
{% endblock %}

{% block imports %}
import sqlite3
import tempfile
{% endblock %}

{% block handlers %}
{% include 'common/temporarydb.py.j2' %}
db.execute("""CREATE TABLE posts AS SELECT "First Post!" AS content""")

@app.route("/{{challenge.endpoint_challenge}}", methods=["POST"])
def challenge_post():
    content = flask.request.form.get("{{challenge.parameter_content}}", "")
    db.execute("INSERT INTO posts VALUES (?)", [content])
    return flask.redirect(flask.request.path)

@app.route("/{{challenge.endpoint_challenge}}", methods=["GET"])
def challenge_get():
    page = "<html><body>\nWelcome to {{challenge.service_name}}, the anonymous posting service. Post away!\n"
    page += "<form method=post>Post:<input type=text name={{challenge.parameter_content}}><input type=submit value=Submit></form>\n"

    for post in db.execute("SELECT content FROM posts").fetchall():
        page += "<hr>" + post["content"] + "\n"

    return page + "</body></html>"
{% endblock %}
