#!/usr/bin/env python3

import subprocess
import requests
import pwnlib.tubes
import atexit
import time

{% from '../../../common/random_names.j2' import generate_names %}
{% set challenge = namespace() %}
{{ generate_names(challenge, random) }}

proc = subprocess.Popen(['/challenge/server'])
for _ in range(100):
    try:
        requests.get("http://challenge.localhost/")
        break
    except requests.RequestException:
        time.sleep(0.1)
else:
    raise AssertionError("server did not become ready in time")


r = pwnlib.tubes.remote.remote("challenge.localhost", 80)
r.send(f"GET /{{challenge.endpoint_static_files}}/index.html HTTP/1.1\nHost: challenge.localhost:80\n\n".encode())
response = r.readall().decode()
assert "200 OK" in response or "404" in response
print(response)