#!/usr/bin/env python3

import subprocess
import pwnlib.tubes
import atexit
import time

{% from 'base_templates/random_names.j2' import generate_names %}
{% set challenge = namespace() %}
{{ generate_names(challenge, random) }}

proc = subprocess.Popen(['/challenge/server'])
atexit.register(lambda: (proc.terminate(), proc.wait()))
time.sleep(1)  # Give it time to start

r = pwnlib.tubes.remote.remote("challenge.localhost", 80)
r.send(f"GET /{{challenge.endpoint_static_files}}/index.html HTTP/1.1\nHost: challenge.localhost:80\n\n".encode())
response = r.readall().decode()
assert "200 OK" in response or "404" in response
print(response)