{% extends "common/crypto_xor.py.j2" %}

{% block setup %}
  {{ super() }}
  {% set chal.mode = "xorstr" %}
  {% set chal.doc_hint = "To XOR entire ASCII strings, use PyCryptodome's strxor: https://pycryptodome.readthedocs.io/en/latest/src/util/util.html#Crypto.Util.strxor.strxor. Remember: strings must be encoded to bytes before XORing." %}
{% endblock %}
