{%- extends "common/sqli-pw.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set challenge.pw_name = "pin" -%}
  {%- set challenge.guest_pw = 1337 -%}
  {%- set challenge.admin_pw_code = "random.randrange(2**32, 2**63)" -%}
  {%- set challenge.admin_print_flag = True -%}
  {%- set challenge.quote_character = "" -%}
  {%- set challenge.password_parameter = "pin" -%}
{% endblock %}