{%- extends "../../common/tests_public/service.py.j2" -%}

{% block assertions %}
status, body = raw_request("/admin")
assert status == 404
assert b"pwn.college{" not in body
status, body = raw_request("/admin%252Fflag")
assert status == 404
assert b"pwn.college{" not in body
{% endblock %}
