"\C-j": accept-line
"\C-m": accept-line
"\C-b": backward-char
"\eOD": backward-char
"\e[D": backward-char
"\C-f": forward-char
"\eOC": forward-char
"\e[C": forward-char
"\C-n": next-history
"\eOB": next-history
"\e[B": next-history
"\C-p": previous-history
"\eOA": previous-history
"\e[A": previous-history
" ": self-insert
"!": self-insert
"\"": self-insert
"#": self-insert
"$": self-insert
"%": self-insert
"&": self-insert
"'": self-insert
"(": self-insert
")": self-insert
"*": self-insert
"+": self-insert
",": self-insert
"-": self-insert
".": self-insert
"/": self-insert
"0": self-insert
"1": self-insert
"2": self-insert
"3": self-insert
"4": self-insert
"5": self-insert
"6": self-insert
"7": self-insert
"8": self-insert
"9": self-insert
":": self-insert
";": self-insert
"<": self-insert
"=": self-insert
">": self-insert
"?": self-insert
"@": self-insert
"A": self-insert
"B": self-insert
"C": self-insert
"D": self-insert
"E": self-insert
"F": self-insert
"G": self-insert
"H": self-insert
"I": self-insert
"J": self-insert
"K": self-insert
"L": self-insert
"M": self-insert
"N": self-insert
"O": self-insert
"P": self-insert
"Q": self-insert
"R": self-insert
"S": self-insert
"T": self-insert
"U": self-insert
"V": self-insert
"W": self-insert
"X": self-insert
"Y": self-insert
"Z": self-insert
"[": self-insert
"\\": self-insert
"]": self-insert
"^": self-insert
"_": self-insert
"`": self-insert
"a": self-insert
"b": self-insert
"c": self-insert
"d": self-insert
"e": self-insert
"f": self-insert
"g": self-insert
"h": self-insert
"i": self-insert
"j": self-insert
"k": self-insert
"l": self-insert
"m": self-insert
"n": self-insert
"o": self-insert
"p": self-insert
"q": self-insert
"r": self-insert
"s": self-insert
"t": self-insert
"u": self-insert
"v": self-insert
"w": self-insert
"x": self-insert
"y": self-insert
"z": self-insert
"{": self-insert
"|": self-insert
"}": self-insert
"~": self-insert
"\200": self-insert
"\201": self-insert
"\202": self-insert
"\203": self-insert
"\204": self-insert
"\205": self-insert
"\206": self-insert
"\207": self-insert
"\210": self-insert
"\211": self-insert
"\212": self-insert
"\213": self-insert
"\214": self-insert
"\215": self-insert
"\216": self-insert
"\217": self-insert
"\220": self-insert
"\221": self-insert
"\222": self-insert
"\223": self-insert
"\224": self-insert
"\225": self-insert
"\226": self-insert
"\227": self-insert
"\230": self-insert
"\231": self-insert
"\232": self-insert
"\233": self-insert
"\234": self-insert
"\235": self-insert
"\236": self-insert
"\237": self-insert
"\240": self-insert
"\241": self-insert
"\242": self-insert
"\243": self-insert
"\244": self-insert
"\245": self-insert
"\246": self-insert
"\247": self-insert
"\250": self-insert
"\251": self-insert
"\252": self-insert
"\253": self-insert
"\254": self-insert
"\255": self-insert
"\256": self-insert
"\257": self-insert
"\260": self-insert
"\261": self-insert
"\262": self-insert
"\263": self-insert
"\264": self-insert
"\265": self-insert
"\266": self-insert
"\267": self-insert
"\270": self-insert
"\271": self-insert
"\272": self-insert
"\273": self-insert
"\274": self-insert
"\275": self-insert
"\276": self-insert
"\277": self-insert
"\300": self-insert
"\301": self-insert
"\302": self-insert
"\303": self-insert
"\304": self-insert
"\305": self-insert
"\306": self-insert
"\307": self-insert
"\310": self-insert
"\311": self-insert
"\312": self-insert
"\313": self-insert
"\314": self-insert
"\315": self-insert
"\316": self-insert
"\317": self-insert
"\320": self-insert
"\321": self-insert
"\322": self-insert
"\323": self-insert
"\324": self-insert
"\325": self-insert
"\326": self-insert
"\327": self-insert
"\330": self-insert
"\331": self-insert
"\332": self-insert
"\333": self-insert
"\334": self-insert
"\335": self-insert
"\336": self-insert
"\337": self-insert
"\340": self-insert
"\341": self-insert
"\342": self-insert
"\343": self-insert
"\344": self-insert
"\345": self-insert
"\346": self-insert
"\347": self-insert
"\350": self-insert
"\351": self-insert
"\352": self-insert
"\353": self-insert
"\354": self-insert
"\355": self-insert
"\356": self-insert
"\357": self-insert
"\360": self-insert
"\361": self-insert
"\362": self-insert
"\363": self-insert
"\364": self-insert
"\365": self-insert
"\366": self-insert
"\367": self-insert
"\370": self-insert
"\371": self-insert
"\372": self-insert
"\373": self-insert
"\374": self-insert
"\375": self-insert
"\376": self-insert
"\377": self-insert
