{%- import "../../common/cimg_lib.j2" as lib -%}
{%- set c = namespace() -%}
{{- lib.defaults(c, "patch1337") -}}
{{- lib.draw_magic(c, random, false) -}}
{%- set c.version = 3 -%}
{%- set c.has_dims = true -%}
{%- set c.color = true -%}
{%- set c.assert_ascii = true -%}
{%- set c.display = true -%}
{%- set c.framebuffer = true -%}
{%- set c.check_framebuffer = true -%}
{%- set _ = lib.load_colored(c) -%}
{%- set c.directives = {"RENDER_FRAME": 1, "RENDER_PATCH": 2} -%}
{%- set c.check_total_data = 1337 -%}
{%- set _ = lib.compute_fb_bytes(c) -%}
{%- include "../../common/cimg_body.c.j2" -%}
