#!/usr/bin/python

import os
import pathlib
import sys

import yaml

challenge_path = pathlib.Path(os.environ["CHALLENGE_PATH"])

module_id = challenge_path.parent.name
challenge_id = challenge_path.name

dojo_path = challenge_path.parent.parent / "dojo.yml"
module_path = challenge_path.parent / "module.yml"

if not dojo_path.exists():
    sys.exit("Could not find dojo.yml")

dojo = yaml.safe_load(dojo_path.read_text())
module = (yaml.safe_load(module_path.read_text()) if module_path.exists() else
          next(module for module in dojo["modules"] if module["id"] == module_id))

challenge = (next((challenge for challenge in module.get("challenges", []) if challenge.get("id") == challenge_id), {}) or
             next((challenge for challenge in module.get("resources", []) if challenge.get("id") == challenge_id), {}))
if not challenge:
    sys.exit(f"Could not find challenge {challenge_id} in module {module_id}")

image = challenge.get("image") or module.get("image") or dojo.get("image") or "pwncollege/challenge-legacy:latest"
if image not in ("pwncollege/challenge-legacy", "pwncollege/challenge-legacy:latest"):
    sys.exit(f"Challenge {challenge_id} in module {module_id} requires unsupported image {image}")

if os.access("/challenge", os.R_OK | os.X_OK):
    entries = list(pathlib.Path("/challenge").iterdir())
    if not entries:
        sys.exit("No challenge files found")
    print("Challenge files:")
    print("\n".join(map(str, entries)))
else:
    # Some legacy challenges make /challenge inaccessible (e.g. legacy/linux-luminarium/processes/ps)
    print("Challenge files are inaccessible")
