{%- extends "base_templates/sql.py.j2" -%}

{%- block setup -%}
  {{- super() -}}
  {%- set challenge.db_state = "flooded" -%}
  {%- set challenge.doc_hint = "https://www.sqlite.org/lang_select.html#limitoffset" -%}
  {%- set challenge.max_rows = 1 -%}
  {%- set challenge.max_columns = 1 -%}
  {%- set challenge.flag_tag = False -%}
  {%- set challenge.decoy_flags = True -%}
{%- endblock -%}
