{%- set db_state = "flooded" -%}
{%- set doc_hint = "https://www.sqlite.org/lang_select.html#limitoffset" -%}
{%- set max_rows = 1 -%}
{%- set max_columns = 1 -%}
{%- set flag_tag = False -%}
{%- set decoy_flags = True -%}

{%- include "../../common/sql.j2" -%}
