{%- extends "common/sqli-pw.py.j2" -%}

{% block setup %}
  {{- super() -}}
  {%- set challenge.pw_name = "password" -%}
  {%- set challenge.guest_pw = "password" -%}
  {%- set challenge.quote_character = "'" -%}
  {%- set challenge.admin_pw_code = "os.urandom(8)" -%}
  {%- set challenge.admin_print_flag = True -%}
  {%- set challenge.password_parameter = challenge.parameter_password -%}
{% endblock %}