{%- extends "base_templates/sql.py.j2" -%}

{%- block setup -%}
  {{- super() -}}
  {%- set challenge.db_state = "trivial" -%}
  {%- set challenge.doc_hint = "https://www.sqlite.org/lang_select.html" -%}
{%- endblock -%}