#!/usr/bin/env python3
import subprocess
import requests
import atexit
import time
import os

{% from 'base_templates/names.j2' import generate_names %}
{% set settings = namespace() %}
{{ generate_names(settings, challenge.random) }}

FLAG = os.environ["FLAG"]

proc = subprocess.Popen(['/challenge/server'])
atexit.register(lambda: (proc.terminate(), proc.wait()))
time.sleep(1)  # Give it time to start

# Test that server is running
response = requests.get(f"http://challenge.localhost/{{settings.endpoint_challenge}}")
assert response.status_code == 200
assert "pwnmsg" in response.text

print("Public tests passed!")