{%- set asm = "main: mov rdi, $NUM; mov rdi, 0; mov rax, 60; syscall" -%}
{%- include "../../common/init-target" %}

# Generate GDB-style censored disassembly with arrow at each instruction position
HEX=$(printf '0x%x' $NUM)
DISAS=$(/usr/bin/gdb -batch -ex 'set disassembly-flavor intel' -ex starti -ex disassemble /challenge/debug-me 2>/dev/null | sed -n '/^Dump/,/^End/p')
CLEAN=$(echo "$DISAS" | sed "s/${HEX}/CENSORED/" | sed 's/^=> /   /')
for i in 0 1 2 3; do
  echo "$CLEAN" | sed "$((i + 2))s/^   /=> /" > /challenge/.censored-disas-$i
done
