{%- set src_base = 16 -%}
{%- set dst_base = 2 -%}
{%- set src_name = "hexadecimal" -%}
{%- set dst_name = "binary" -%}
{%- set n_bytes = 1 -%}
{%- set count = 3 -%}
{%- include "../../common/convert" -%}
