name: Publish Challenges

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: publish-challenges-${{ github.ref }}
  cancel-in-progress: true

jobs:
  determine-modified-challenges:
    runs-on: ubuntu-latest
    outputs:
      challenges: ${{ steps.determine-modified-challenges.outputs.challenges }}
      modified_since_ref: ${{ steps.determine-modified-challenges.outputs.modified_since_ref }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Determine modified challenges
      id: determine-modified-challenges
      uses: ./.github/actions/determine-modified-challenges


  publish:
    needs: determine-modified-challenges
    if: ${{ needs.determine-modified-challenges.outputs.challenges != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        challenges: ${{ fromJson(needs.determine-modified-challenges.outputs.challenges) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Login to registry
      if: false
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.REGISTRY_HOST }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Set up Docker storage
      uses: ./.github/actions/setup-docker-storage

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Test challenges
      uses: ./.github/actions/test-challenges
      with:
        challenges: ${{ matrix.challenges }}
        modified_since_ref: ""

    - name: Publish challenges
      env:
        CHALLENGES_DIR: challenges/${{ matrix.challenges }}
        REGISTRY_HOST: ${{ secrets.REGISTRY_HOST }}
        GIT_SHA: ${{ github.sha }}
      run: |
        set -euo pipefail
        while IFS= read -r challenge; do
          image_id="$(./pwnshop build "$CHALLENGES_DIR/$challenge")"
          challenge_slug="${CHALLENGES_DIR#challenges/}/$challenge"
          repo="$REGISTRY_HOST/$challenge_slug"
          docker tag "$image_id" "$repo:$GIT_SHA"
          # docker push "$repo:$GIT_SHA"
          docker tag "$image_id" "$repo:latest"
          # docker push "$repo:latest"
        done < <(./pwnshop list "$CHALLENGES_DIR")

    - name: Report docker storage
      if: always()
      uses: ./.github/actions/report-docker-storage
