name: Test Challenges

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

concurrency:
  group: test-challenges-${{ github.ref }}
  cancel-in-progress: true

jobs:
  determine-modified-challenges:
    runs-on: ubuntu-latest
    outputs:
      challenges: ${{ steps.determine-modified-challenges.outputs.challenges }}
      modified_since_ref: ${{ steps.determine-modified-challenges.outputs.modified_since_ref }}

    steps:
    - uses: actions/checkout@v4

    - name: Determine modified challenges
      id: determine-modified-challenges
      uses: ./.github/actions/determine-modified-challenges


  test-challenges:
    needs: determine-modified-challenges
    if: ${{ needs.determine-modified-challenges.outputs.challenges != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        challenges: ${{ fromJson(needs.determine-modified-challenges.outputs.challenges) }}

    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/determinate-nix-action@v3.14.0
    - uses: DeterminateSystems/flakehub-cache-action@v3.15.2

    - name: Move storage
      uses: ./.github/actions/move-runtime-storage

    - name: Test challenges
      uses: ./.github/actions/test-challenges
      with:
        challenges: ${{ matrix.challenges }}
        modified_since_ref: ${{ needs.determine-modified-challenges.outputs.modified_since_ref }}

    - name: Report runtime storage
      if: always()
      uses: ./.github/actions/report-runtime-storage
